/* 
    color palette:
    {
        "Deep Crimson":"#931621",
        "Dark Slate Grey":"#28464b",
        "Stormy Teal":"#326771",
        "Pacific Cyan":"#2c8c99",
        "Turquoise":"#42d9c8"}
*/

.hidden {
    display: none;
}

.view {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 150px;
    margin: 0 auto;
    max-width: fit-content; 
    border-radius: 15px;
    background-color: #2c8c99;
    transition: 0.3s;
}

.view:hover {
    transition: 0.3s;
    scale: 0.95;
}

#error-message {
    color: white;
    font-style:italic;
    background-color: #931621;
    border-radius: 8px;
    border: 2px solid #931621;
    padding: 5px;
}

#task-list {
    list-style:decimal;
    text-align: left;
}


  input {
    margin: 10px;
    padding: 10px;
    border: 2px solid #2c8c99;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.95);
    color: #28464b;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

input:focus {
    outline: none;
    background-color: rgba(66, 217, 200, 0.1);
    color: white;
    border-color: rgba(66, 217, 200, 0.1)   ;
    box-shadow: 0 6px 15px rgba(147, 22, 33, 0.25);
}

body {
    background-image: url("https://w.wallhaven.cc/full/5d/wallhaven-5d52j9.png");
    background-size: cover;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    margin: 0 auto;
    padding: 8px 15px;
    transition: 0.3s;
    border: none;
    background-color: #42d9c8;
    color: #28464b;
}

button:hover {
    cursor: pointer;    
    background-color: #931621;    
    transition: 0.3s;
    color: white; 
}


h2 {
    color: black;
}





